html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-image: url("Images/newImage.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}